<div
  class="tw:relative tw:h-full tw:w-fill-available tw:rounded-2xl tw:bg-black tw:grayscale-0"
>
  <video
    class="tw:h-full tw:w-full tw:rounded-2xl tw:object-cover"
    #videoPlayer
    [cn]="['tw:grayscale-0', isVideoPause && 'tw:grayscale']"
  >
    <source type="video/mp4" [src]="src" />
  </video>

  <ion-button
    class="tw:ion-shadow-none tw:absolute tw:top-[calc(50%-1.6875rem)] tw:left-[calc(50%-1.6875rem)] tw:transition-opacity tw:ion-bg-white tw:ion-pt-3"
    type="button"
    shape="round"
    [cn]="['tw:opacity-0', isVideoPause && 'tw:opacity-100']"
    (click)="playVideo()"
  >
    <ion-icon
      class="tw:text-secondary-background tw:text-3xl"
      name="play"
      slot="icon-only"
    />
  </ion-button>
</div>
