<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/tabs/tab-1" tab="tab-1">
      <ion-icon name="triangle" aria-hidden="true"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab-2" tab="tab-2">
      <ion-icon name="ellipse" aria-hidden="true"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab-3" tab="tab-3">
      <ion-icon name="square" aria-hidden="true"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
