// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /*  --color-primary-background: 27, 70, 223;
  --color-secondary-background: 255, 48, 79; */
  --color-primary-background: 27, 70, 223;
  --color-secondary-background: 255, 48, 79;
}
